<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="niplist is awesome!">
    <meta name="author" content="Alex Smith">

    <title>niplist</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/assets/css/signin.css" rel="stylesheet">
    <link href="/static/assets/css/header.css" rel="stylesheet">
    <link href="/static/assets/css/sticky-footer.css" rel="stylesheet">
  </head>

  <body>
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      // init the FB JS SDK
      FB.init({
        appId      : '519431724811205',                        // App ID from the app dashboard
        channelUrl : 'http://localhost:8000/niplist',          // Channel file for x-domain comms
        status     : true,                                 // Check Facebook Login status
        xfbml      : true                                  // Look for social plugins on the page
      });

      // Additional initialization code such as adding Event Listeners goes here
    };

    // Load the SDK asynchronously
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/all.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
    <div id="wrap">
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">niplist</a>
          </div>
          <!--.navbar-collapse -->
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="{% url 'django.contrib.auth.views.login' %}">Home</a></li>
              <li><a href="{% url 'niplist.views.register' %}">Register</a></li>
            </ul>
            <form class="navbar-form navbar-right" action="{% url "socialauth_begin" "facebook" %}">
              <button type="submit" class="btn btn-primary btn-sm" id='login'>Log in</button>
            </form>
          </div>
          <!--/.navbar-collapse -->
        </div>
      </div>

      <!-- container -->
      <div class="container">
        <div class='prompt'>
          <h1 class='question'>Looking for something to do?</h1>
          <h2 class='question'></h2>
          <div class='searcher'>
            <form method="get" action="#">
              <input type='text' class='form-control' placeholder="What's the last book you enjoyed reading?">
            </form>
          </div>
        </div>
      </div>
      <!-- /container -->
    </div>
  
    <!-- footer -->
    <div id="footer">
      <div class="container">
        <p class="text-muted credit text-center">© 2013 Niplist</p>
      </div>
    </div>
    <!-- /footer -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/assets/js/jquery.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/homepage.js"></script>
  </body>
</html>
