<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="niplist is awesome!">
    <meta name="author" content="Alex Smith">

    <title>niplist</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="/static/assets/css/profile.css" rel="stylesheet">
    <link href="/static/assets/css/home.css" rel="stylesheet">
    <link href="/static/assets/css/header.css" rel="stylesheet">
    <link href="/static/assets/css/sticky-footer.css" rel="stylesheet">
  </head>

  <body>
    <div id="wrap">
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">niplist</a>
          </div>
          <!--.navbar-collapse -->
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="{% url 'niplist.views.home' %}">Home</a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="#}">Likes</a></li>
            </ul>
            <form method="post" class="navbar-form navbar-right" action="{% url 'django.contrib.auth.views.logout_then_login' %}" role="form">
              <button type="submit" class="btn btn-primary btn-sm">Sign out</button>
              {% csrf_token %}
            </form>
          </div>
          <!--/.navbar-collapse -->
        </div>
      </div>

      <!-- container -->
      <div class="container">
        <div class="col-md-4 inner-container">
          <div class="inner-row">
            <div class="panel panel-primary">
              <div class="panel-body">
                <div class="caption">
                  <h3>Charlie Swanson</h3>
                </div>
                <div class="thumbnail">
                  <img src="https://scontent-b-ord.xx.fbcdn.net/hphotos-ash4/1000813_10200211487077425_273597964_n.jpg"></img>
                </div>
              </div>
            </div>
          </div>
          <div class="inner-row">
            <div class="list-group">
              <h3 class="list-group-item active">Activity</h3>
              <a href="#" class="list-group-item"><i class='icon-ok-circle'></i>
                <img class="inner-thumbnail" src="http://ecx.images-amazon.com/images/I/41BnyLL9T2L._SX260_.jpg" alt="(Image)">
                <p class="inner-text">Charlie Liked Everybody Poops</p>
              </a>
              <a href="#" class="list-group-item"><i class='icon-remove-circle'></i>
                <img class="inner-thumbnail" src="http://www.clashmusic.com/sites/default/files/styles/article_feature/public/field/image/the-great-gatsby-2012.jpeg" alt="(Image)">
                <p class="inner-text">Charlie Disliked Great Gatsby</p>
              </a>
              <a href="#" class="list-group-item"><i class='icon-remove-circle'></i>
                <img class="inner-thumbnail" src="http://ecx.images-amazon.com/images/I/51bvDXCv2wL._BO2,204,203,200_PIsitb-sticker-arrow-click,TopRight,35,-76_AA300_SH20_OU01_.jpg" alt="(Image)">
                <p class="inner-text">Charlie HATED Windows XP for Dummies</p>
              </a>
            </div>
          </div>
          <div class="inner-row">
            <button class="btn btn-primary btn-sm" action="#"><i class='icon-plus'></i>New List</button>
          </div>
        </div>
        <div class="col-md-8 inner-container">
          <div class="inner-row">
            <div class="panel panel-primary">
              <div class="panel-heading">
              <ul class="nav nav-pills nav-justified">
                <li class="inactive"><a href="#">Lists</a></li>
              </ul>
              </div>
              <div class="panel-body">
                <ul class="lists">
                  <li class="container">
                    <div class="thubmnail list-preview">
                      <ul class="list-items">
                        <li class="media inner-thumbnail"><img src="https://fbexternal-a.akamaihd.net/safe_image.php?d=AQBlddzdjLrowRve&w=103&h=103&url=https%3A%2F%2Ffbcdn-profile-a.akamaihd.net%2Fhprofile-ak-ash4%2F276659_7219382370_144074505_n.jpg&crop"></img>
                        </li>
                        <li class="media inner-thumbnail"><img src="https://fbexternal-a.akamaihd.net/safe_image.php?d=AQA9p98SGI54uJRj&w=103&h=103&url=https%3A%2F%2Ffbcdn-profile-a.akamaihd.net%2Fhprofile-ak-ash2%2F1086524_6135205697_1783927973_n.jpg&crop"></img>
                        </li>
                        <li class="media inner-thumbnail"><i class='glyphicon glyphicon-plus'></i>
                      </ul>
                    </div>
                    <div class="caption">
                      <h1>List 1</h1>
                    </div>
                   </li>

                  <li class="container">
                    <div class="thubmnail list-preview">
                      <ul class="list-items">
                        <li class="media inner-thumbnail"><img src="https://fbexternal-a.akamaihd.net/safe_image.php?d=AQBlddzdjLrowRve&w=103&h=103&url=https%3A%2F%2Ffbcdn-profile-a.akamaihd.net%2Fhprofile-ak-ash4%2F276659_7219382370_144074505_n.jpg&crop"></img>
                        </li>
                        <li class="media inner-thumbnail"><i class='glyphicon glyphicon-plus'></i>
                      </ul>
                    </div>
                    <div class="caption">
                      <h1>List 2</h1>
                    </div>
                   </li>

                  <li class="container">
                    <div class="thubmnail list-preview">
                      <ul class="list-items">
                        <li class="media inner-thumbnail"><img src="https://fbexternal-a.akamaihd.net/safe_image.php?d=AQBlddzdjLrowRve&w=103&h=103&url=https%3A%2F%2Ffbcdn-profile-a.akamaihd.net%2Fhprofile-ak-ash4%2F276659_7219382370_144074505_n.jpg&crop"></img>
                        </li>
                        <li class="media inner-thumbnail"><img src="https://fbexternal-a.akamaihd.net/safe_image.php?d=AQA9p98SGI54uJRj&w=103&h=103&url=https%3A%2F%2Ffbcdn-profile-a.akamaihd.net%2Fhprofile-ak-ash2%2F1086524_6135205697_1783927973_n.jpg&crop"></img>
                        </li>
                        <li class="media inner-thumbnail"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc1/c133.0.534.800/s320x320/575260_486820798025202_322277732_n.png"></img>
                        </li>
                        <li class="media inner-thumbnail"><i class='glyphicon'>...</i>
                      </ul>
                    </div>
                    <div class="caption">
                      <h1>List 3</h1>
                    </div>
                   </li>

                  <li class="container">
                    <div class="thubmnail list-preview">
                      <ul class="list-items">
                        <li class="media inner-thumbnail"><img src="https://fbexternal-a.akamaihd.net/safe_image.php?d=AQBlddzdjLrowRve&w=103&h=103&url=https%3A%2F%2Ffbcdn-profile-a.akamaihd.net%2Fhprofile-ak-ash4%2F276659_7219382370_144074505_n.jpg&crop"></img>
                        </li>
                        <li class="media inner-thumbnail"><img src="https://fbexternal-a.akamaihd.net/safe_image.php?d=AQA9p98SGI54uJRj&w=103&h=103&url=https%3A%2F%2Ffbcdn-profile-a.akamaihd.net%2Fhprofile-ak-ash2%2F1086524_6135205697_1783927973_n.jpg&crop"></img>
                        </li>
                        <li class="media inner-thumbnail"><i class='glyphicon glyphicon-plus'></i>
                      </ul>
                    </div>
                    <div class="caption">
                      <h1>List 2</h1>
                    </div>
                   </li>

                  <li class="container">
                    <div class="thubmnail list-preview">
                      <ul class="list-items">
                        <li class="media inner-thumbnail"><img src="https://fbexternal-a.akamaihd.net/safe_image.php?d=AQBlddzdjLrowRve&w=103&h=103&url=https%3A%2F%2Ffbcdn-profile-a.akamaihd.net%2Fhprofile-ak-ash4%2F276659_7219382370_144074505_n.jpg&crop"></img>
                        </li>
                        <li class="media inner-thumbnail"><img src="https://fbexternal-a.akamaihd.net/safe_image.php?d=AQA9p98SGI54uJRj&w=103&h=103&url=https%3A%2F%2Ffbcdn-profile-a.akamaihd.net%2Fhprofile-ak-ash2%2F1086524_6135205697_1783927973_n.jpg&crop"></img>
                        </li>
                        <li class="media inner-thumbnail"><i class='glyphicon glyphicon-plus'></i>
                      </ul>
                    </div>
                    <div class="caption">
                      <h1>List 2</h1>
                    </div>
                   </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /container -->
    </div>
  
    <!-- footer -->
    <div id="footer">
      <div class="container">
        <p class="text-muted credit text-center">© 2013 Niplist</p>
      </div>
    </div>
    <!-- /footer -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/assets/js/jquery.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
  </body>
<
