<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="niplist is awesome!">
    <meta name="author" content="Alex Smith">

    <title>niplist</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/assets/css/register.css" rel="stylesheet">
		<link href="/static/assets/css/header.css" rel="stylesheet">
    <link href="/static/assets/css/sticky-footer.css" rel="stylesheet">
  </head>

  <body>
		<div id="wrap">
			<div class="navbar navbar-default navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">niplist</a>
					</div>
					<!--.navbar-collapse -->
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="{% url 'django.contrib.auth.views.login' %}">Home</a></li>
							<li class="active"><a href="{% url 'niplist.views.register' %}">Register</a></li>
						</ul>
					</div>
					<!--/.navbar-collapse -->
				</div>
			</div>

			<!-- container -->
			<div class="container">
				<form method="post" class="form-register" action="{% url 'niplist.views.register' %}">
					<h2 class="form-register-heading">Register.</h2>
					<input type="text" name="email" class="form-control" placeholder="Email address" autofocus>
					<input type="password" name="password1" class="form-control" placeholder="Password">
					<input type="password" name="password2" class="form-control" placeholder="Confirm Password">
					<label class="checkbox">
						<input type="checkbox" value="remember-me"> Remember me
					</label>
					<button class="btn btn-info btn-block" type="submit">Register</button>
          {% csrf_token %}
        </form>
        
        <div>
          {% for error in errors %}
          <p> {{ error }} </p>
          {% endfor %}
        </div>
        
			</div>
			<!-- /container -->
		</div>
	
		<!-- footer -->
    <div id="footer">
      <div class="container">
        <p class="text-muted credit text-center">© 2013 Alex Smith</p>
      </div>
    </div>
		<!-- /footer -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
  </body>
</html>
