i.icon-plus {
  padding-right: 10px;
}
.inner-container {
  padding: 20px;
}

.inner-container .inner-row {
  padding: 0px;
}

.btn-wide {
  width: 100px;
}

.panel-heading .nav li.first-pill {
  border: 1px solid transparent;
  border-radius: 5px 0 0 5px;
}

.panel-heading .nav li.last-pill {
  border: 1px solid transparent;
  border-radius: 0 5px 5px 0;
}

.panel-heading .nav li.inactive {
  border: 1px solid transparent;
  background-color: #557dac;
}

.panel-heading .nav li.inactive  a {
  background-color: #557dac;
  color: #e0e0e0;
  font-size: 18px;
}

.panel-heading .nav .active {
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #eeeeee;
}

.panel-heading .nav li.active  a {
  background-color: #eeeeee;
  color: #557dac;
  font-size: 18px;
}

.inner-thumbnail {
  height: 50px;
  width: 50px;
  display: inline-block;
}

.inner-text {
  display: inline-block;
  width: 200px;
}

.list {
}

.list .list-row {
}

.list .list-row .image {
}

.list .list-row .p {
}
