.form-signin {
  z-index: 1000;
  position: absolute;
  background: #fff;
  max-width: 330px;
  padding: 15px;
  top: 10px;
  border-radius: 7px;
}
.prompt {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.searcher input {
  max-width: 500px;
  position: relative;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#overlay.show {
  background: #0f0f0f;
  opacity: 0.8;
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
